<div id="jobs-index" data-controller="jobs-index">
  <section class="hero is-medium hero-image">
    <div class="hero-body">
      <div class="container has-text-centered u-transition-all-1s" data-controller="homepage-search-position" data-target="homepage-search-position.centralContainer" style="margin-bottom: 0px;">
        <img class="hero-logo" src="https://ember.cdn.teamtailor.com/ember-production/assets/images/teamtailor-logo-f442e875406f0a21cddfe9f211283b92.svg">
        <div class="columns">
          <div class="column is-paddingless"></div>
          <div class="column is-two-fifths" data-controller="algolia-places">
            <form class="form-group col-xs-6 c-field-has-autocomplete-results" action="/venues" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
              <div class="field has-addons">
                <p class="control is-expanded">
                  <input class="input is-primary has-text-centered" placeholder="Search for your dream role" data-target="jobs-index.searchInput" data-request-path="/location_search" data-action="keyup->jobs-index#searchHandler" type="text" name="location" id="location">
                </p>
              </div>
              <div class="bu-prev-element-margin-b-counter c-autocomplete-results-container" data-target="algolia-places.resultsContainer homepage-search-position.resultsContainer ">
              </div>
            </form>
            </div>
          <div class="column is-paddingless"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
          <div class="tags" data-controller="tags departments">
            <div class="field is-grouped is-grouped-multiline" data-target="departments.tagsContainer">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" data-target="jobs-index.container">
      <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
          <div class="c-job-main-section is-flex">
            <figure class="image is-128x128 u-padding-10">
              <img src="https://images.unsplash.com/photo-1487528278747-ba99ed528ebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80">
            </figure>
            <div id="c-job--right-section" class="is-flex u-padding-10">
              <div id="content" class="is-flex">
                <div id="job-title-and-description">
                  <h1 class="title is-4">Title</h1>
                  <h1 class="subtitle is-5">Pitch</h2>
                  <!-- <h1 class="is-6">Body here</p> -->
                </div>
                <div id="icons">
                  <span class="icon has-text-grey-dark">
                    <a href = "mailto:abc@example.com?subject = Feedback&body = Message">
                      <i class="fas fa-lg fa-envelope"></i>
                    </a>
                  </span>
                  <span
                    class="icon has-text-grey-dark u-pointer"
                    data-controller="add-favourite"
                    data-action="click->add-favourite#toggleFavourite"
                    data-target="add-favourite.button"
                    data-job-id="1"
                    data-url=<%= "#{favourites_path}" %>
                  >
                    <i class="fas fa-lg fa-heart"></i>
                  </span>
                </div>
              </div>
              <div id="footer" class="is-flex">
                <div class="buttons">
                  <button class="button is-small is-primary is-rounded">View</button>
                  <button class="button is-small is-secondary is-rounded">Visit</button>
                  <button class="button is-small is-link is-rounded">Apply</button>
                </div>
              </div>
            </div>
          <div>
        </div>
      </div>
    </div>
  </section>
</div>