#c-job--right-section {
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  // width: 100%;
  #content {
    justify-content: space-between;
  }
  #footer {
    align-items: center;
    justify-content: flex-end;
  }
}